.header-div {
	background: linear-gradient(0deg, hsl(120, 100%, 20%), hsl(120, 40%, 46%));
}

.yellow {
	background: linear-gradient(0deg, hsl(57, 100%, 50%), hsl(57, 80%, 50%));
}

.logo {
	position: static;
	height: 50px;
	border-radius: 5px;
}
